//sidebar
$menuText:#303133;
$menuActiveText:#409EFF;
$subMenuActiveText:#409EFF; 

$menuBg:#fff;
$menuHover:#efefef;

$subMenuBg:#fff;
$subMenuHover:#efefef;

$sideBarWidth: 180px;

// the :export directive is the magic sauce for webpack
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
